@page
@model SignalAssigment_2.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div id="viewport">
    <div id="js-scroll-content">

        <section class="testimonials section bg-light">
            <div class="sec-wp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sec-title text-center mb-5">
                                <h2 class="h2-title">What our customers <span>say about us</span></h2>
                                <div class="sec-title-shape mb-4">
                                    <img src="assets/images/title-shape.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="testimonials-img">
                                <img src="assets/images/testimonial-img.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonials-box">
                                        <div class="testimonial-box-top">
                                            <div class="testimonials-box-img back-img"
                                                 style="background-image: url(assets/images/testimonials/t1.jpg);">
                                            </div>
                                            <div class="star-rating-wp">
                                                <div class="star-rating">
                                                    <span class="star-rating__fill" style="width:85%"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="testimonials-box-text">
                                            <h3 class="h3-title">
                                                Nilay Hirpara
                                            </h3>
                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque,
                                                quisquam.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonials-box">
                                        <div class="testimonial-box-top">
                                            <div class="testimonials-box-img back-img"
                                                 style="background-image: url(assets/images/testimonials/t2.jpg);">
                                            </div>
                                            <div class="star-rating-wp">
                                                <div class="star-rating">
                                                    <span class="star-rating__fill" style="width:80%"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="testimonials-box-text">
                                            <h3 class="h3-title">
                                                Ravi Kumawat
                                            </h3>
                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque,
                                                quisquam.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonials-box">
                                        <div class="testimonial-box-top">
                                            <div class="testimonials-box-img back-img"
                                                 style="background-image: url(assets/images/testimonials/t3.jpg);">
                                            </div>
                                            <div class="star-rating-wp">
                                                <div class="star-rating">
                                                    <span class="star-rating__fill" style="width:89%"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="testimonials-box-text">
                                            <h3 class="h3-title">
                                                Navnit Kumar
                                            </h3>
                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque,
                                                quisquam.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonials-box">
                                        <div class="testimonial-box-top">
                                            <div class="testimonials-box-img back-img"
                                                 style="background-image: url(assets/images/testimonials/t4.jpg);">
                                            </div>
                                            <div class="star-rating-wp">
                                                <div class="star-rating">
                                                    <span class="star-rating__fill" style="width:100%"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="testimonials-box-text">
                                            <h3 class="h3-title">
                                                Somyadeep Bhowmik
                                            </h3>
                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque,
                                                quisquam.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="faq-sec section-repeat-img" style="background-image: url(assets/images/faq-bg.png);">
            <div class="sec-wp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sec-title text-center mb-5">
                                <p class="sec-sub-title mb-3">faqs</p>
                                <h2 class="h2-title">Frequently <span>asked questions</span></h2>
                                <div class="sec-title-shape mb-4">
                                    <img src="assets/images/title-shape.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="faq-row">
                        <div class="faq-box">
                            <h4 class="h4-title">What are the login hours?</h4>
                            <p>
                                It is Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus ipsum
                                vitae fugit laboriosam dolor distinctio.
                            </p>
                        </div>
                        <div class="faq-box">
                            <h4 class="h4-title">What do i get my refund?</h4>
                            <p>
                                It is Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus ipsum
                                vitae fugit laboriosam dolor distinctio. Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                        <div class="faq-box">
                            <h4 class="h4-title">How long it will take food to arrive?</h4>
                            <p>
                                It is Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus ipsum
                                vitae fugit laboriosam dolor distinctio.
                            </p>
                        </div>
                        <div class="faq-box">
                            <h4 class="h4-title">Does your restaurant has both veg and non veg?</h4>
                            <p>
                                It is Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus ipsum
                                vitae fugit laboriosam dolor distinctio. Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Voluptates, distinctio?
                            </p>
                        </div>
                        <div class="faq-box">
                            <h4 class="h4-title">What is cost of food delivery?</h4>
                            <p>
                                It is Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus ipsum
                                vitae fugit laboriosam dolor distinctio. Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nam officiis ducimus, cum enim repudiandae animi.
                            </p>
                        </div>
                        <div class="faq-box">
                            <h4 class="h4-title">Who is eligible for pro membership?</h4>
                            <p>
                                It is Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus ipsum
                                vitae fugit laboriosam dolor distinctio.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <section class="book-table section bg-light">
                <div class="book-table-shape">
                    <img src="assets/images/table-leaves-shape.png" alt="">
                </div>

                <div class="book-table-shape book-table-shape2">
                    <img src="assets/images/table-leaves-shape.png" alt="">
                </div>

                <div class="sec-wp">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sec-title text-center mb-5">
                                    <p class="sec-sub-title mb-3">Book Table</p>
                                    <h2 class="h2-title">Opening Table</h2>
                                    <div class="sec-title-shape mb-4">
                                        <img src="assets/images/title-shape.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="book-table-info">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="table-title text-center">
                                        <h3>Monday to Thrusday</h3>
                                        <p>9:00 am - 22:00 pm</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="call-now text-center">
                                        <i class="uil uil-phone"></i>
                                        <a href="tel:+91-8866998866">+91 - 8866998866</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="table-title text-center">
                                        <h3>Friday to Sunday</h3>
                                        <p>11::00 am to 20:00 pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="gallery">
                            <div class="col-lg-10 m-auto">
                                <div class="book-table-img-slider" id="icon">
                                    <div class="swiper-wrapper">
                                        <a href="assets/images/bt1.jpg" data-fancybox="table-slider"
                                           class="book-table-img back-img swiper-slide"
                                           style="background-image: url(assets/images/bt1.jpg)"></a>
                                        <a href="assets/images/bt2.jpg" data-fancybox="table-slider"
                                           class="book-table-img back-img swiper-slide"
                                           style="background-image: url(assets/images/bt2.jpg)"></a>
                                        <a href="assets/images/bt3.jpg" data-fancybox="table-slider"
                                           class="book-table-img back-img swiper-slide"
                                           style="background-image: url(assets/images/bt3.jpg)"></a>
                                        <a href="assets/images/bt4.jpg" data-fancybox="table-slider"
                                           class="book-table-img back-img swiper-slide"
                                           style="background-image: url(assets/images/bt4.jpg)"></a>
                                        <a href="assets/images/bt1.jpg" data-fancybox="table-slider"
                                           class="book-table-img back-img swiper-slide"
                                           style="background-image: url(assets/images/bt1.jpg)"></a>
                                        <a href="assets/images/bt2.jpg" data-fancybox="table-slider"
                                           class="book-table-img back-img swiper-slide"
                                           style="background-image: url(assets/images/bt2.jpg)"></a>
                                        <a href="assets/images/bt3.jpg" data-fancybox="table-slider"
                                           class="book-table-img back-img swiper-slide"
                                           style="background-image: url(assets/images/bt3.jpg)"></a>
                                        <a href="assets/images/bt4.jpg" data-fancybox="table-slider"
                                           class="book-table-img back-img swiper-slide"
                                           style="background-image: url(assets/images/bt4.jpg)"></a>
                                    </div>

                                    <div class="swiper-button-wp">
                                        <div class="swiper-button-prev swiper-button">
                                            <i class="uil uil-angle-left"></i>
                                        </div>
                                        <div class="swiper-button-next swiper-button">
                                            <i class="uil uil-angle-right"></i>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </section>
        </section>
    </div>
</div>