@page
@model SignalAssigment_2.Pages.Account_Page.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="margin-top:100px">Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.UserName" class="control-label"></label>
                <input asp-for="Account.UserName" class="form-input" />
                <span asp-validation-for="Account.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-input" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.FullName" class="control-label"></label>
                <input asp-for="Account.FullName" class="form-input" />
                <span asp-validation-for="Account.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Type" class="control-label"></label>
                <input asp-for="Account.Type" class="form-input" />
                <span asp-validation-for="Account.Type" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="sec-btn primary-btn" /> |
                <a asp-page="Index" class="sec-btn">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
